body {background-color: #DFEBE1;
      justify-content: center;}


    
.hero {width: 98vw;
       height: 98vh;}

.hero p {color: #007011;
        margin-top: 5%;}

.downtime {max-width: 100%;
        max-height: auto;
        margin: 10px;
        border: 5px solid black;}

.downtime img {max-width: 100%;
               max-height: auto;
              
}

#carouselExampleIndicators {margin-top: 20%;}

/* contact page */

.contact-form {
        display: flex;
        justify-content: center;
        
}