body {background-color: #DFEBE1;}


    
.hero {width: 98vw;
       height: 98vh;}

.hero p {color: #007011;
        margin-top: 15%;}


.downtime img {max-width: 100%;
               max-height: auto;
              
}