body {background-color: #DFEBE1;
      justify-content: baseline;}


    
.hero {width: 98vw;
       height: 98vh;}

.hero p {color: #007011;
        margin-top: 15%;}

.downtime {justify-content: center;
        max-width: 100%;
        max-height: auto;
        margin: 10px;
        border: 5px solid black;}
.downtime img {max-width: 100%;
               max-height: auto;
              
}

.pufc {justify-content: center;
        max-width: 100%;
        max-height: auto;
        margin: 10px;
        border: 5px solid black;
       }
.pufc img {max-width: 100%;
        max-height: auto;}